<header class="header">
  <nav class="nav">

    <div>
      BetterBot Shop
    </div>

    <div class="nav-links">
      <div class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{
      exact: true,
    }">
        Home
      </div>
      <div class="nav-link" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{
      exact: true,
    }">
        Cart
      </div>
    </div>



    <div class="nav-icons">
      <mat-icon aria-hidden="false" (click)="toggleTheme()"
        [matTooltip]="darkMode() ? 'Switch to Light Mode' : 'Switch to Dark Mode'" class="theme-icon">
        {{ !darkMode() ? 'dark_mode' : 'light_mode' }}
      </mat-icon>
      <mat-icon aria-hidden="false">email</mat-icon>
      <mat-icon aria-hidden="false">login</mat-icon>
      <mat-icon aria-hidden="false">settings</mat-icon>
    </div>
  </nav>
</header>