<div class="container">
    <div class="products-grid">
        <mat-card class="product-card">
            <div class="image-container">
                <img mat-card-image [src]="product.image" [alt]="product.title" (click)="showDetails()">
                <div class="discount-badge">
                    -{{discount}}%
                </div>
            </div>
            <mat-card-header>
                <mat-card-title>{{ product.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <button mat-button>
                    <mat-icon aria-hidden="false" fontIcon="star"></mat-icon>
                    {{product.rating.rate}}
                </button>
                <p class="price">{{ product.price | currency: 'USD' : 'symbol': '1.0-0' }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>