<header class="header">
  <nav class="nav">
    <button mat-icon-button (click)="toggleMenu()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="search-section">
      <mat-form-field appearance="outline">
        <input matInput [formControl]="searchControl" placeholder="Search...">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <div class="mega-menu">
        <span class="mega-menu-text">Mega Menu</span>
        <mat-icon>expand_more</mat-icon>
      </div>
    </div>

    <div class="nav-icons">
      <!-- Used to have a light/dark theme toggle -->
      <!-- <mat-icon aria-hidden="false" (click)="toggleTheme()"
        [matTooltip]="darkMode() ? 'Switch to Light Mode' : 'Switch to Dark Mode'" class="theme-icon">
        {{ darkMode() ? 'light_mode' : 'dark_mode' }}
      </mat-icon> -->
      <img src="assets/usflag.png" alt="US Flag" class="flag-icon">
      <mat-icon aria-hidden="false">dashboard_customize</mat-icon>
      <mat-icon aria-hidden="false">rectangle</mat-icon>
      <mat-icon aria-hidden="false">notifications</mat-icon>
      <div class="user-section">
        <img src="assets/henry.png" alt="Henry">
        <span class="user-name">{{ user }}</span>
        <mat-icon>expand_more</mat-icon>
      </div>
      <mat-icon aria-hidden="false">settings</mat-icon>

    </div>

    <div class="mobile-menu" [class.show]="showMenu()">
      <div class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()">
        Home
      </div>
      <div class="nav-link" routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()">
        Cart
      </div>
    </div>
  </nav>
</header>