:root {
  --box-shadow: 0 0px 15px #142232, 0 0px 15px black;
  --black: #101e2c;
  --black-two: #182a3d;
  --light-blue: #89c4ff;
  --blue: #0080ff;
  --dark-blue: #004589;
  --darker-blue: #001e3b;

  --light-gray: #8c8c8c;
}
